@use './variables' as var;
@import './home-layout';
@import './home';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: var.$value;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#root,
body {
  background-color: transparent;
}

input {
  // border: none;
  outline: none;
}

//   border-radius: 10px;

@keyframes icon-ani {
  to {
    color: rgb(255, 255, 255);
  }
}
